{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">
            <div class="card-body">

                <div class="card-title py-3">
                    <h4>Please enter your Email</h4>
                </div>

                <form action="{% url 'reset-password' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Enter Email" id="emailField" class="form-control form-control-sm">
                    </div>
                    <div class="invalid-feedback-email" style="display: none;">

                    </div>
                        <input type="submit" value="Send Reset Password Link" class="btn btn-block btn-primary submit-btn"/>
                    
                </form>
            </div>
        </div>
        <p>Click to <a href="{% url 'login' %}">Login</a></p>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}