{% extends 'base.html' %}

{% block content %}

<h1>Add Income</h1>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Income</li>
    </ol>
</nav>

  <div class="card">
    <div class="card-body">

      <form action="{% url 'add-income' %}" method="post">
        {% csrf_token %}
        {% include 'partials/messages.html' %}
      <div class="form-group">
        <label for="">Amount ({{ user_preference.currency }})</label>
        <input class="form-control form-control-sm" type="number" name="amount" value="{{ values.amount }}"/>
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <input class="form-control form-control-sm" type="text" name="description" value="{{ values.description }}"/>
      </div>
      <div class="form-group">
        <label for="categorySelect">Sources</label>
        <select name="source" class="form-control" id="categorySelect">
          <option selected disabled>Choose...</option>
          {% for source in sources %}
          <option value="{{ source.name }}">{{ source.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="">Date</label>
        <input class="form-control form-control-sm" type="date" name="income_date" />
      </div>
      <input type="submit" value="Add" class="btn btn-primary" />
    </form>
    </div>
  </div>
</div>
{% endblock %}