{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">

    <h5>Preferred Currency</h5>
    <hr />

    <div class="input-group">
        <select class="custom-select" id="inputGroupSelect04">
        <option selected>Choose...</option>
        {% for currency in currencies %}
        <option>{{ currency.name }} - {{ currency.value }}</option>
        {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>
</div>
{% endblock %}